html, body {
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif; 
}

.circle {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 60px;
}

#madi {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: italic;
  font-size: 4em;
  color: #1a1617;
  border-bottom: 1px solid #1a1617;
}

hr {
  border-top: 1px solid #e0e0e0;
}

a {
  cursor: pointer;
}

a:hover {
  color: #40c6ff;
}

.content a {
  color: #1a1617;
}

.content a:hover {
  color: #40c6ff;
}

h1 {
  color: #7b7b7b;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: italic;
  font-size: 3em;
  color: #1a1617;
  border-bottom: 1px solid #1a1617;
}

.nav-container {
  background-color: #fff;
  border: solid #dcdcdc;
  border-width: 0 0 2px;
  width: 100%;
  position: fixed;
  left: 0px; 
}

nav {
  text-align: center;
  width: 640px;
  margin: 0px auto; 
}

nav ul {
    padding: 0px; 
}

nav li {
  width: 19%;
  display: inline-block; 
}

nav img {
  margin: 0 auto;
  width: 25%;
}

nav li a {
  font-size:  1.1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #1a1617;
}

nav li a.active {
  color: #40c6ff; 
}

@media screen and (max-width: 640px) {
  nav {
    width: 90%;
  }
  
  nav li a {
    font-size: 18px;
  } 
}

section {
  padding-top: 40px;
  padding-bottom: 60px;
  height: 100%;
  width: 100%; 
}

section .content {
  margin: 0px auto;
  max-width: 50%; 
}

.content p {
  font-weight: 300;
  letter-spacing: 1px;
}

@media screen and (max-width: 640px) {
  section .content {
    width: 90%; 
  } 
}

img {
  display: block;
}

#studio {
  border-radius: 50%;
  float: left;
  width: 25%;
}

.about-description {
  float: right;
  width: 70%;
}

.music-description {
  text-align: center;
}

#cover {
  width: 50%;
  margin: 0 auto;
}

#contact {
  margin: 0 auto;
}

footer {
  text-align: center;
  padding: 10px;
  font-weight: 300;
  text-transform: uppercase;
}

footer p {
  line-height: 10px;
}
footer a {
  color: #333;
}